<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <!-- <link rel="stylesheet_main" href="../css/main.css"> -->
    <link rel="stylesheet_home" href="./home.css">
    <script>
        const data = { name: "updateposts" };
        let posts;
        fetch("/", {
          method: "POST",
          headers: {
            "Content-Type": "application/json",
          },
          body: JSON.stringify(data),
        })
          .then((response) => response.json())
          .then((data) => {
            console.log(data);

          })
          .catch((error) => {
            console.error(error);
          });
      </script>
      
</head>
<body>
    <%- include('./header.ejs'); %>
    <%- include('./top.ejs'); %>
    <%- include('./top.ejs'); %>
    <%- include('./top.ejs'); %>
    <%- include('./top.ejs'); %>
    <%- include('./top.ejs'); %>
      
</body>
</html>