<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../css/main.css">
    <link rel="stylesheet" href="../css/post.css">
    <script>
        function Like(){            
            const id = document.cookie.split('; ').find(row => row.startsWith('id=')).split('=')[1]
            const send = { postId: <%- postInf.id %>, userId: parseInt(id) };
            console.log(send);
            fetch("/post", {
                method: "POST",
                headers: {
                "Content-Type": "application/json",
            },
            body: JSON.stringify(send),
            }).then((response) => response.json()).then((data) => {
                console.log(data);
            }).catch((error) => {
                console.error(error)
            });
        }
    </script>
</head>
<body>
    <%- include('./header.ejs'); %>
    <div class="post-body">
            <div class="post-header">
                <%= postInf.Name %>
            </div>
            <pre class="post-text"><%= postInf.Text %></pre>
            <br>
            <div class="post-bottom">
                <div class="statistic">
                    Views: 
                    <%= postInf.Views %>
                    <a id = "like" onclick="Like()">Likes: </a>
                    <a><%= postInf.Likes %></a>
                </div>

            </div>
    </div>
    <%- include('./bottom.ejs'); %>
</body>
<script>
    if(<%= Like %> == 1){
        const like = document.getElementById("like")
        like.style.color = "#FF0000"
    }
</script>
</html>