<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Header</title>
    <link rel="stylesheet" href="./css/main.css"> 
    <link rel="stylesheet" href="./css/top.css">
</head>
<body>
    <div class='top'> 
        <div class="post">
            <div class="post_head">
                <div class="post_head_text">
                    <a href="/post?id=<%= ID %>"><%= Name %></a>
                </div>
            </div>
            <div class="post_body">
                <p><%= Text %></p>
            </div>
            <div class = "post_bottom">
                <div class="bottom_tag">
                    <p class="tag"><%= Tags %></p>
                </div>
                <div class="bottom_inf">
                    <img class="inf" src="../assets/9980022.png" alt="figure" height="20px" width="20px">
                    <p class="inf">
                        <p><%= Rating %></p>
                    </p>
                    <img class="inf" src="../assets/2767194.png" alt="eye" height="20px" width="20px">
                    <p class="inf">
                        <p><%= Views %></p>
                    </p>
                </div>

            </div>
        </div>
    </div>
</body>
</html>